body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1 0 auto;
}
nav.navbar{
    background-color: #1d3557 !important;
}
footer{
    background-color: #1d3557;
}
button.btn-primary{
    background-color: #1d3557;
}